.description {
    width: 445px;
    align-self: center;
    height: 445px;

    @media only screen and (max-width: 375px){
        margin-top: 2rem;
        width: auto;
        align-self: auto;
        padding: 0 2rem;
    }

    &__subtitle {
        text-transform: uppercase;
        font-size: 1.4rem;
        color: $orange;
        opacity: .8;
        margin-bottom: 2rem;
    }

    &__title {
        font-size: 4.5rem;
        margin-bottom: 3rem;
        @media only screen and (max-width: 375px){
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }

    &__paragraph {
        color: $dark-greyish-blue;
        line-height: 2.2rem;
        margin-bottom: 2.5rem;
    }
}

.price {

    &__container {
        display:flex;
        align-items: center;
        margin-bottom: 1rem;

        &-all {
            @media only screen and (max-width: 375px){
                display:flex;
                margin-bottom: 3rem;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    &__now {
        display: inline-block;
        font-size: 3rem;
        font-weight: 700;
        margin-right: 2rem;
    }

    &__discount {
        display: inline-block;
        font-weight: 700;
        color: $orange;
        background-color: $pale;
        padding: .4rem .8rem;
        border-radius: 6px;
    }

    &__old {
        display: block;
        color: $greyish-blue;
        text-decoration: line-through;
        font-weight: 700;
        margin-bottom: 4rem;

        @media only screen and (max-width: 375px){
            margin-bottom: .8rem;
        }
    }
}

