.gallery {
    width: 445px;


    &__active {
        width: 445px;
        margin-bottom: 3rem;
        border-radius: 10px;
        cursor: pointer;
    }

    &__thumbnails {
        &-list {
            width: 445px;
            display: flex;
            justify-content: space-between;
        }

        &-item {
            width: 90px;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                opacity: .6;
            }
        }
    }

    
}

.thumbnails-active {
    opacity: .3 !important;
}

.thumbnail-container {
    height: 95px;
    width: 95px;
    border: 3px solid transparent;
}

.border-active {
    border: 3px solid $orange;
    border-radius: 13px;
}

