.header {
    display: flex;
    height: 11rem;
    align-items: center;
    border-bottom: 1px solid $greyish-blue;
    position:relative;

    &__logo {
        margin-right: 5rem;
    }

    &__navigation {
        list-style: none;
        display: flex;
        flex: 1;
        
        &-item {
            margin-right: 3rem;
        }

        &-link,
        &-link:visited {
            text-decoration: none;
            color: $dark-greyish-blue;
            position: relative;
            font-weight: 400;

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 3px;
                background-color: $orange;
                top: 62px;
                left: 0;
                display:none;
            }

            &:hover,
            &:focus,
            &:active {

                color: $very-dark-blue;

                &::after {
                    display: block;
                }
            }
            

        }

    }

    &__user-img {
        width: 50px;
        border: 2px solid transparent;
        border-radius: 50%;

        &:hover, 
        &:active,
        &:focus {
            border-color: $orange;
        }
    }
}


.cart{
    position: relative;
    
    &__button {
        margin: 0 4rem;
        border: none;
        cursor: pointer;
        background: transparent;
    }

    &__notification {
        position:absolute;
        top: -7px;
        right: 35px;
        padding: 1.4px 6px;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 45%;
        background-color: $orange;
        color: $white;
    }
    
}