.header {
    display: flex;
    height: 11rem;
    align-items: center;
    border-bottom: 1px solid $greyish-blue;
    position:relative;

    @media only screen and (max-width: 375px) {
        height: 7rem;
    }

    

    &__logo {
        margin-right: 5rem;
        @media only screen and (max-width: 375px) {
            flex: 1;
        }
    }


    &__nav-container{
        width: 100vw;
        background-color: $black-75;
        height: 100vh;
    }
    &__navigation {
        list-style: none;
        display: flex;
        flex: 1;

        @media only screen and (max-width: 375px) {
            position: absolute;
            top:0;
            left: 0;
            flex-direction: column;
            background-image: linear-gradient(to right, $white 0 65%, $black-75 65% 100%);
            height: 105vh;
            width: 100vw;
            z-index: 20;
        }
        
        &-item {
            margin-right: 3rem;

            @media only screen and (max-width: 375px) {
                margin: 0 0 2rem 2rem;
            }
        }

        &-link,
        &-link:visited {
            text-decoration: none;
            color: $dark-greyish-blue;
            position: relative;
            font-weight: 400;
            @media only screen and (max-width: 375px) {
                color: $very-dark-blue;
                font-weight: 700;;
            }

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 3px;
                background-color: $orange;
                top: 62px;
                left: 0;
                display:none;
                @media only screen and (max-width: 375px) {
                    top: 0;
                    left: -2rem;
                    width: 4px;
                    height: 100%;
                }
            }

            &:hover,
            &:focus,
            &:active {

                color: $very-dark-blue;

                &::after {
                    display: block;
                }
            }
            

        }

    }

    &__user-img {
        width: 50px;
        border: 2px solid transparent;
        border-radius: 50%;

        @media only screen and (max-width: 375px) {
            width: 30px;
            margin: 0 1rem
        }

        &:hover, 
        &:active,
        &:focus {
            border-color: $orange;
        }
    }
}


.cart{
    position: relative;
    
    &__button {
        margin: 0 4rem;
        border: none;
        cursor: pointer;
        background: transparent;

        @media only screen and (max-width: 375px) {
            margin: 0 1rem;
        }
    }

    &__notification {
        position:absolute;
        top: -7px;
        right: 35px;
        padding: 1.6px 6px;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 45%;
        background-color: $orange;
        color: $white;
        @media only screen and (max-width: 375px){
            right: 5px;
        }

    }
    
}

.menu {
    border: none;
    cursor: pointer;
    display: none;

    @media only screen and (max-width: 375px){
        display:block;
        margin: 0 1.5rem;
    }

    &__close {
        display:none;
        @media only screen and (max-width: 375px) {
            display:block;  
            margin: 2rem 0 6rem 2rem ;
            cursor: pointer;
        }
    }
}