*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  max-width: 144rem;
  height: 90rem;
  margin: 0 auto;
}

#root {
  margin: 0 16rem;
  height: 100%;
}
@media only screen and (max-width: 375px) {
  #root {
    margin: 0;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 9rem 5rem;
}
@media only screen and (max-width: 375px) {
  .main {
    margin: 0;
    flex-direction: column;
  }
}

.attribution {
  text-align: center;
}
.attribution a, .attribution a:visited {
  text-decoration: none;
  color: #ff7d1a;
}
.attribution a:hover, .attribution a:visited:hover {
  border-bottom: 1px solid #ff7d1a;
}
@media only screen and (max-width: 375px) {
  .attribution {
    margin-top: 3rem;
  }
}

.header {
  display: flex;
  height: 11rem;
  align-items: center;
  border-bottom: 1px solid #b6bcc8;
  position: relative;
}
@media only screen and (max-width: 375px) {
  .header {
    height: 7rem;
  }
}
.header__logo {
  margin-right: 5rem;
}
@media only screen and (max-width: 375px) {
  .header__logo {
    flex: 1;
  }
}
.header__nav-container {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
}
.header__navigation {
  list-style: none;
  display: flex;
  flex: 1;
}
@media only screen and (max-width: 375px) {
  .header__navigation {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    background-image: linear-gradient(to right, white 0 65%, rgba(0, 0, 0, 0.75) 65% 100%);
    height: 105vh;
    width: 100vw;
    z-index: 20;
  }
}
.header__navigation-item {
  margin-right: 3rem;
}
@media only screen and (max-width: 375px) {
  .header__navigation-item {
    margin: 0 0 2rem 2rem;
  }
}
.header__navigation-link, .header__navigation-link:visited {
  text-decoration: none;
  color: #68707d;
  position: relative;
  font-weight: 400;
}
@media only screen and (max-width: 375px) {
  .header__navigation-link, .header__navigation-link:visited {
    color: #1d2025;
    font-weight: 700;
  }
}
.header__navigation-link::after, .header__navigation-link:visited::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff7d1a;
  top: 62px;
  left: 0;
  display: none;
}
@media only screen and (max-width: 375px) {
  .header__navigation-link::after, .header__navigation-link:visited::after {
    top: 0;
    left: -2rem;
    width: 4px;
    height: 100%;
  }
}
.header__navigation-link:hover, .header__navigation-link:focus, .header__navigation-link:active, .header__navigation-link:visited:hover, .header__navigation-link:visited:focus, .header__navigation-link:visited:active {
  color: #1d2025;
}
.header__navigation-link:hover::after, .header__navigation-link:focus::after, .header__navigation-link:active::after, .header__navigation-link:visited:hover::after, .header__navigation-link:visited:focus::after, .header__navigation-link:visited:active::after {
  display: block;
}
.header__user-img {
  width: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
}
@media only screen and (max-width: 375px) {
  .header__user-img {
    width: 30px;
    margin: 0 1rem;
  }
}
.header__user-img:hover, .header__user-img:active, .header__user-img:focus {
  border-color: #ff7d1a;
}

.cart {
  position: relative;
}
.cart__button {
  margin: 0 4rem;
  border: none;
  cursor: pointer;
  background: transparent;
}
@media only screen and (max-width: 375px) {
  .cart__button {
    margin: 0 1rem;
  }
}
.cart__notification {
  position: absolute;
  top: -7px;
  right: 35px;
  padding: 1.6px 6px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 45%;
  background-color: #ff7d1a;
  color: white;
}
@media only screen and (max-width: 375px) {
  .cart__notification {
    right: 5px;
  }
}

.menu {
  border: none;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 375px) {
  .menu {
    display: block;
    margin: 0 1.5rem;
  }
}
.menu__close {
  display: none;
}
@media only screen and (max-width: 375px) {
  .menu__close {
    display: block;
    margin: 2rem 0 6rem 2rem;
    cursor: pointer;
  }
}

.description {
  width: 445px;
  align-self: center;
  height: 445px;
}
@media only screen and (max-width: 375px) {
  .description {
    margin-top: 2rem;
    width: auto;
    align-self: auto;
    padding: 0 2rem;
  }
}
.description__subtitle {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #ff7d1a;
  opacity: 0.8;
  margin-bottom: 2rem;
}
.description__title {
  font-size: 4.5rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 375px) {
  .description__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
.description__paragraph {
  color: #68707d;
  line-height: 2.2rem;
  margin-bottom: 2.5rem;
}

.price__container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 375px) {
  .price__container-all {
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: space-between;
  }
}
.price__now {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  margin-right: 2rem;
}
.price__discount {
  display: inline-block;
  font-weight: 700;
  color: #ff7d1a;
  background-color: #ffede0;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
}
.price__old {
  display: block;
  color: #b6bcc8;
  text-decoration: line-through;
  font-weight: 700;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 375px) {
  .price__old {
    margin-bottom: 0.8rem;
  }
}

.gallery {
  width: 445px;
}
@media only screen and (max-width: 375px) {
  .gallery {
    width: 100%;
  }
}
.gallery__active {
  width: 445px;
  margin-bottom: 3rem;
  border-radius: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 375px) {
  .gallery__active {
    width: 100%;
    border-radius: 0px;
  }
}
.gallery__active--container {
  position: relative;
}
.gallery__active--previous {
  display: none;
}
@media only screen and (max-width: 375px) {
  .gallery__active--previous {
    display: block;
    position: absolute;
    border: none;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    top: 38%;
    left: 1.3rem;
    cursor: pointer;
    z-index: 5;
  }
}
.gallery__active--previous-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
}
.gallery__active--next {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 375px) {
  .gallery__active--next {
    display: block;
    position: absolute;
    border: none;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    top: 38%;
    right: 1.3rem;
  }
}
.gallery__active--next-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}
.gallery__thumbnails-list {
  width: 445px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 375px) {
  .gallery__thumbnails-list {
    display: none;
  }
}
.gallery__thumbnails-item {
  width: 90px;
  border-radius: 10px;
  cursor: pointer;
}
.gallery__thumbnails-item:hover {
  opacity: 0.6;
}

.thumbnails-active {
  opacity: 0.3 !important;
}

.thumbnail-container {
  height: 95px;
  width: 95px;
  border: 3px solid transparent;
}

.border-active {
  border: 3px solid #ff7d1a !important;
  border-radius: 13px;
}

.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__active {
  width: 445px;
  margin-bottom: 3rem;
  border-radius: 10px;
}
.modal__thumbnails-container {
  height: 95px;
  width: 95px;
  border: 3px solid transparent;
  background: #fff;
  background-clip: content-box;
  border-radius: 12px;
}
.modal__thumbnails-list {
  width: 445px;
  display: flex;
  justify-content: space-between;
}
.modal__thumbnails-item {
  width: 90px;
  border-radius: 10px;
  cursor: pointer;
}
.modal__thumbnails-item:hover {
  opacity: 0.6;
}

.thumbnails-modal-active {
  opacity: 0.3 !important;
}

.icon__container-previous {
  position: absolute;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 190px;
  left: -26px;
}
.icon__container-next {
  position: absolute;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 190px;
  left: 420px;
}
.icon__previous {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
}
.icon__next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}
.icon__close {
  position: absolute;
  top: -35px;
  left: 430px;
  transform: scale(1.4);
  cursor: pointer;
}
.icon__close path {
  fill: white;
}
.icon__close:hover path {
  fill: #ff7d1a;
}

.icon__container-previous:hover .icon__previous path {
  stroke: #ff7d1a;
}

.icon__container-next:hover .icon__next path {
  stroke: #ff7d1a;
}

.cartbuttons {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}
@media only screen and (max-width: 375px) {
  .cartbuttons {
    flex-direction: column;
    height: auto;
  }
}

.container-qty {
  background-color: #f7f8fd;
  width: 15rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}
@media only screen and (max-width: 375px) {
  .container-qty {
    height: 5rem;
    width: 100%;
  }
}
.container-qty__minus, .container-qty__plus {
  display: flex;
  height: 100%;
  padding: 0 0.5rem;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 0.5rem;
}

.addcart {
  width: 27rem;
  cursor: pointer;
  background-color: #ff7d1a;
  color: white;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 12px 20px 2px rgba(255, 125, 26, 0.4);
}
@media only screen and (max-width: 375px) {
  .addcart {
    height: 5rem;
    width: 100%;
    margin-top: 1rem;
  }
}
.addcart__text {
  font-weight: 700;
  margin-left: 1rem;
}
.addcart__carticon path {
  fill: white;
}
.addcart:hover, .addcart:active {
  opacity: 0.6;
}

.cartTab {
  position: absolute;
  top: 95px;
  right: -80px;
  width: 360px;
  height: 260px;
  background-color: white;
  box-shadow: 0 6px 27px -16px rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
@media only screen and (max-width: 375px) {
  .cartTab {
    width: 95%;
    right: 2.5%;
  }
}
.cartTab__header {
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b6bcc8;
}
.cartTab__header--text {
  margin-left: 2rem;
}
.cartTab__content {
  flex: 1;
  padding: 2rem;
  position: relative;
}
.cartTab__content--empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart-product {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.cart-product__info {
  display: flex;
  justify-content: space-between;
}
.cart-product__info--img {
  width: 50px;
}
.cart-product__info--text-title {
  color: #68707d;
  margin-bottom: 0.6rem;
}
.cart-product__info--text-price {
  color: #68707d;
}
.cart-product__info--text-total {
  color: #000;
  font-weight: bold;
  display: inline-block;
  margin-left: 1rem;
}
.cart-product__info--delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.cart-product__btn {
  border: none;
  background-color: #ff7d1a;
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 5px;
  height: 60px;
  margin-bottom: 10px;
  cursor: pointer;
}
.cart-product__btn:hover, .cart-product__btn:active {
  opacity: 0.6;
}

/*# sourceMappingURL=index.css.map */
